<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gta.mapper.TransportModelMapper">
  
  	<sql id="transportModelWhere">
	    <where>
	        <!-- keyword -->
	        <if test="request.keyword != null and request.keyword != ''">
	            AND (
	                tm.manufacturer LIKE CONCAT('%', #{request.keyword}, '%')
	                OR tm.name LIKE CONCAT('%', #{request.keyword}, '%')
	            )
	        </if>
	
	        <!-- 제조사 -->
	        <if test="request.manufacturer != null and request.manufacturer != ''">
	            AND tm.manufacturer = #{request.manufacturer}
	        </if>
	
	        <!-- 분류 -->
	        <if test="request.category != null and request.category != ''">
	            AND tm.transport_category = #{request.category}
	        </if>
	
	        <!-- 획득처 -->
	        <if test="request.sources != null and request.sources.size() > 0">
			    <foreach collection="request.sources" item="source">
			        AND tm.source LIKE CONCAT('%', #{source}, '%')
			    </foreach>
			</if>
	
	        <!-- 개조위치 -->
	        <if test="request.upgradeLocations != null and request.upgradeLocations.size() > 0">
			    <foreach collection="request.upgradeLocations" item="location">
			        AND tm.upgrade_location LIKE CONCAT('%', #{location}, '%')
			    </foreach>
			</if>
	
	        <!-- 특징 -->
	        <if test="request.features != null and request.features.size() > 0">
			    <foreach collection="request.features" item="feature">
			        AND tm.features LIKE CONCAT('%', #{feature}, '%')
			    </foreach>
			</if>
	    </where>
	</sql>
  	
  	<!-- 이동수단 모델 목록 조회 -->
  	<select id="selectList" resultType="com.gta.dto.TransportModelDto">
	    SELECT
	        tm.model_id,
	        tm.manufacturer,
	        tm.name,
	        tm.transport_category,
	        tm.upgrade_location,
	        tm.lap_time,
	        tm.top_speed,
	        tm.price,
	        tm.release_date,
	        tm.source,
	        tm.weight,
	        tm.drive_train,
	        tm.seats,
	        tm.features,
	        COUNT(ot.owned_id) AS owned_count
	    FROM transport_model tm
	    LEFT JOIN owned_transport ot
	        ON ot.model_id = tm.model_id
	
	    <include refid="transportModelWhere" />
	
	    GROUP BY tm.model_id
	
	    <choose>
	        <when test="request.sort == 'manufacturer_asc'">
	            ORDER BY tm.manufacturer ASC
	        </when>
	        <when test="request.sort == 'manufacturer_desc'">
	            ORDER BY tm.manufacturer DESC
	        </when>
	
	        <when test="request.sort == 'name_asc'">
	            ORDER BY tm.name ASC
	        </when>
	        <when test="request.sort == 'name_desc'">
	            ORDER BY tm.name DESC
	        </when>
	
	        <when test="request.sort == 'category_asc'">
	            ORDER BY tm.transport_category ASC
	        </when>
	        <when test="request.sort == 'category_desc'">
	            ORDER BY tm.transport_category DESC
	        </when>
	
	        <when test="request.sort == 'lapTime_asc'">
	            ORDER BY tm.lap_time ASC
	        </when>
	        <when test="request.sort == 'lapTime_desc'">
	            ORDER BY tm.lap_time DESC
	        </when>
	
	        <when test="request.sort == 'topSpeed_asc'">
	            ORDER BY tm.top_speed ASC
	        </when>
	        <when test="request.sort == 'topSpeed_desc'">
	            ORDER BY tm.top_speed DESC
	        </when>
	
	        <when test="request.sort == 'price_asc'">
	            ORDER BY tm.price ASC
	        </when>
	        <when test="request.sort == 'price_desc'">
	            ORDER BY tm.price DESC
	        </when>
	
	        <when test="request.sort == 'releaseDate_asc'">
	            ORDER BY tm.release_date ASC
	        </when>
	        <when test="request.sort == 'releaseDate_desc'">
	            ORDER BY tm.release_date DESC
	        </when>
	
	        <otherwise>
	            ORDER BY tm.manufacturer ASC,
	                     tm.transport_category ASC,
	                     tm.name ASC
	        </otherwise>
	    </choose>
	
	    LIMIT #{offset}, #{size}
	</select>
	
	<select id="selectCount" resultType="int">
	    SELECT COUNT(*)
	    FROM transport_model tm
	
	    <include refid="transportModelWhere" />
	</select>
  	
  	<!-- 이동수단 모델 등록 -->
    <insert id="insertTransportModel">
        INSERT INTO transport_model
        (
              manufacturer
            , name
            , transport_category
            , upgrade_location
            , lap_time
            , top_speed
            , price
            , release_date
            , source
            , weight
            , drive_train
            , seats
            , features
        )
        VALUES
        (
              #{manufacturer}
            , #{name}
            , #{transportCategory}
            , #{upgradeLocation}
            , #{lapTime}
            , #{topSpeed}
            , #{price}
            , #{releaseDate}
            , #{source}
            , #{weight}
            , #{driveTrain}
            , #{seats}
            , #{features}
        )
    </insert>


    <!-- 이동수단 모델 수정 -->
    <update id="updateTransportModel">
        UPDATE transport_model
        SET
              manufacturer = #{request.manufacturer}
            , name = #{request.name}
            , transport_category = #{request.transportCategory}
            , upgrade_location = #{request.upgradeLocation}
            , lap_time = #{request.lapTime}
            , top_speed = #{request.topSpeed}
            , price = #{request.price}
            , release_date = #{request.releaseDate}
            , source = #{request.source}
            , weight = #{request.weight}
            , drive_train = #{request.driveTrain}
            , seats = #{request.seats}
            , features = #{request.features}
        WHERE model_id = #{modelId}
    </update>


    <!-- 이동수단 모델 삭제 -->
    <delete id="deleteTransportModel">
        DELETE
        FROM transport_model
        WHERE model_id = #{modelId}
    </delete>
    
    <!-- 이동수단 모델 옵션 목록 조회 -->
    <select id="selectOptions" resultType="com.gta.dto.TransportModelDto">
	    SELECT
	        model_id,
	        manufacturer,
	        name,
	        transport_category,
	        upgrade_location,
	        lap_time,
	        top_speed,
	        price,
	        release_date,
	        source,
	        weight,
	        drive_train,
	        seats,
	        features
	    FROM transport_model
	    ORDER BY manufacturer ASC, name ASC, transport_category ASC
	</select>
  </mapper>